<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ZMetalHeartY.demo.Mapper.FrontUserIssueCollectionsMapper">
    <resultMap id="BaseResultMap" type="ZMetalHeartY.demo.Entity.FrontUserIssueCollections">
        <id column="fuic_id" property="fuicId" jdbcType="INTEGER"/>
        <result column="fu_id" property="fuId" jdbcType="INTEGER"/>
        <result column="i_id" property="iId" jdbcType="INTEGER"/>

        <association property="issue" javaType="ZMetalHeartY.demo.Entity.Issue">
            <result column="i_id" property="iId"/>
            <result column="fu_id" property="fuId"/>
            <result column="i_type" property="iType"/>
            <result column="i_title" property="iTitle"/>
            <result column="i_address" property="iAddress"/>
            <result column="i_create_time" property="iCreateTime"/>
            <result column="i_sex" property="iSex"/>
            <result column="i_resume" property="iResume"/>
            <result column="i_details" property="iDetails"/>
            <result column="i_position_start" property="iPositionStart"/>
            <result column="i_position_end" property="iPositionEnd"/>
            <result column="i_img" property="iImg"/>
            <result column="i_status" property="iStatus"/>
            <result column="i_people_number" property="iPeopleNumber"/>
            <result column="i_start_time" property="iStartTime"/>
            <result column="i_end_time" property="iEndTime"/>
            <result column="i_audio" property="iAudio"/>
        </association>

    </resultMap>
    <sql id="Base_Column_List">
        front_user_issue_collections.fuic_id, front_user_issue_collections.fu_id, front_user_issue_collections.i_id
    </sql>
    <sql id="Issue_Column_List">
        issue.i_id, issue.fu_id, issue.i_type, issue.i_title,
        issue.i_address, issue.i_create_time, issue.i_sex, issue.i_resume,
        issue.i_details, issue.i_position_start, issue.i_position_end,
        issue.i_img, issue.i_status, issue.i_people_number,
        issue.i_start_time,issue.i_end_time,issue.i_audio
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Issue_Column_List"/>
        from front_user_issue_collections
        left join issue on issue.i_id = front_user_issue_collections.i_id
        where front_user_issue_collections.fuic_id = #{fuicId,jdbcType=INTEGER}
    </select>
    <select id="selectAllByCondition" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Issue_Column_List"/>
        from front_user_issue_collections
        left join issue on issue.i_id = front_user_issue_collections.i_id
        <where>
            <if test="fuId!=null and fuId!=''">
                and front_user_issue_collections.fu_id = #{fuId,jdbcType=INTEGER}
            </if>
            <if test="iId!=null and iId!=''">
                and front_user_issue_collections.i_id = #{iId,jdbcType=INTEGER}
            </if>
        </where>
    </select>
    <delete id="deleteByPrimaryKey">
        delete
        from front_user_issue_collections
        where fu_id = #{fuId,jdbcType=INTEGER}
        and i_id = #{iId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="ZMetalHeartY.demo.Entity.FrontUserIssueCollections">
        insert into front_user_issue_collections (fuic_id, fu_id, i_id)
        values (#{fuicId,jdbcType=INTEGER}, #{fuId,jdbcType=INTEGER}, #{iId,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="ZMetalHeartY.demo.Entity.FrontUserIssueCollections">
        insert into front_user_issue_collections
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fuicId != null">
                fuic_id,
            </if>
            <if test="fuId != null">
                fu_id,
            </if>
            <if test="iId != null">
                i_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fuicId != null">
                #{fuicId,jdbcType=INTEGER},
            </if>
            <if test="fuId != null">
                #{fuId,jdbcType=INTEGER},
            </if>
            <if test="iId != null">
                #{iId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="ZMetalHeartY.demo.Entity.FrontUserIssueCollections">
        update front_user_issue_collections
        <set>
            <if test="fuId != null">
                fu_id = #{fuId,jdbcType=INTEGER},
            </if>
            <if test="iId != null">
                i_id = #{iId,jdbcType=INTEGER},
            </if>
        </set>
        where fuic_id = #{fuicId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="ZMetalHeartY.demo.Entity.FrontUserIssueCollections">
        update front_user_issue_collections
        set fu_id = #{fuId,jdbcType=INTEGER},
            i_id  = #{iId,jdbcType=INTEGER}
        where fuic_id = #{fuicId,jdbcType=INTEGER}
    </update>
</mapper>