<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ZMetalHeartY.demo.Mapper.FrontUserFollowMapper">
    <resultMap id="BaseResultMap" type="ZMetalHeartY.demo.Entity.FrontUserFollow">
        <id column="fuf_id" property="fufId" jdbcType="INTEGER"/>
        <result column="fu_id" property="fuId" jdbcType="INTEGER"/>
        <result column="fuf_fu_id" property="fufFuId" jdbcType="INTEGER"/>

        <association property="frontUser" javaType="ZMetalHeartY.demo.Entity.FrontUser">
            <result column="fu_id" property="fuId"/>
            <result column="fu_openid" property="fuOpenid"/>
            <result column="fu_nickname" property="fuNickname"/>
            <result column="fu_sex" property="fuSex"/>
            <result column="fu_img" property="fuImg"/>
            <result column="fu_phone" property="fuPhone"/>
            <result column="fu_credit" property="fuCredit"/>
            <result column="fu_note" property="fuNote"/>
            <result column="fu_username" property="fuUsername"/>
        </association>

        <association property="followedFrontUser" javaType="ZMetalHeartY.demo.Entity.FrontUser">
            <result column="fuf_fu_id" property="fuId"/>
            <result column="fuf_fu_openid" property="fuOpenid"/>
            <result column="fuf_fu_nickname" property="fuNickname"/>
            <result column="fuf_fu_sex" property="fuSex"/>
            <result column="fuf_fu_img" property="fuImg"/>
            <result column="fuf_fu_phone" property="fuPhone"/>
            <result column="fuf_fu_credit" property="fuCredit"/>
            <result column="fuf_fu_note" property="fuNote"/>
            <result column="fuf_fu_username" property="fuUsername"/>
        </association>

    </resultMap>
    <sql id="Base_Column_List">
        front_user_follow.fuf_id, front_user_follow.fu_id, front_user_follow.fuf_fu_id
    </sql>
    <sql id="Front_User_Column_List">
        front_user.fu_id, front_user.fu_openid, front_user.fu_nickname, front_user.fu_sex,
        front_user.fu_img, front_user.fu_phone, front_user.fu_credit, front_user.fu_note,
        front_user.fu_username
    </sql>
    <sql id="Followed_Front_User_Column_List">
        front_user2.fu_id fuf_fu_id, front_user2.fu_openid fuf_fu_openid, front_user2.fu_nickname fuf_fu_nickname, front_user2.fu_sex fuf_fu_sex,
        front_user2.fu_img fuf_fu_img, front_user2.fu_phone fuf_fu_phone, front_user2.fu_credit fuf_fu_credit, front_user2.fu_note fuf_fu_note,
        front_user2.fu_username fuf_fu_username
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Front_User_Column_List"/>
        ,
        <include refid="Followed_Front_User_Column_List"/>
        from front_user_follow
        left join front_user on front_user.fu_id = front_user_follow.fu_id
        left join front_user as front_user2 on front_user2.fu_id = front_user_follow.fuf_fu_id
        where fuf_id = #{fufId,jdbcType=INTEGER}
    </select>
    <select id="selectAllByCondition" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Front_User_Column_List"/>
        ,
        <include refid="Followed_Front_User_Column_List"/>
        from front_user_follow
        left join front_user on front_user.fu_id = front_user_follow.fu_id
        left join front_user as front_user2 on front_user2.fu_id = front_user_follow.fuf_fu_id
        <where>
            <if test="fuId!=null and fuId!=''">
                and front_user_follow.fu_id = #{fuId,jdbcType=INTEGER}
            </if>
            <if test="fufFuId!=null and fufFuId!=''">
                and front_user_follow.fuf_fu_id = #{fufFuId,jdbcType=INTEGER}
            </if>
        </where>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from front_user_follow
        where fuf_fu_id = #{fufFuId,jdbcType=INTEGER}
        and fu_id = #{fuId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="ZMetalHeartY.demo.Entity.FrontUserFollow">
        insert into front_user_follow (fuf_id, fu_id, fuf_fu_id)
        values (#{fufId,jdbcType=INTEGER}, #{fuId,jdbcType=INTEGER}, #{fufFuId,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="ZMetalHeartY.demo.Entity.FrontUserFollow">
        insert into front_user_follow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fufId != null">
                fuf_id,
            </if>
            <if test="fuId != null">
                fu_id,
            </if>
            <if test="fufFuId != null">
                fuf_fu_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fufId != null">
                #{fufId,jdbcType=INTEGER},
            </if>
            <if test="fuId != null">
                #{fuId,jdbcType=INTEGER},
            </if>
            <if test="fufFuId != null">
                #{fufFuId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="ZMetalHeartY.demo.Entity.FrontUserFollow">
        update front_user_follow
        <set>
            <if test="fuId != null">
                fu_id = #{fuId,jdbcType=INTEGER},
            </if>
            <if test="fufFuId != null">
                fuf_fu_id = #{fufFuId,jdbcType=INTEGER},
            </if>
        </set>
        where fuf_id = #{fufId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="ZMetalHeartY.demo.Entity.FrontUserFollow">
        update front_user_follow
        set fu_id     = #{fuId,jdbcType=INTEGER},
            fuf_fu_id = #{fufFuId,jdbcType=INTEGER}
        where fuf_id = #{fufId,jdbcType=INTEGER}
    </update>
</mapper>