<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ZMetalHeartY.demo.Mapper.FrontUserIssueLikeMapper">
    <resultMap id="BaseResultMap" type="ZMetalHeartY.demo.Entity.FrontUserIssueLike">
        <id column="fuil_id" property="fuilId" jdbcType="INTEGER"/>
        <result column="fu_id" property="fuId" jdbcType="INTEGER"/>
        <result column="i_id" property="iId" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        fuil_id, fu_id, i_id
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from front_user_issue_like
        where fuil_id = #{fuilId,jdbcType=INTEGER}
    </select>
    <select id="selectAllByCondition" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from front_user_issue_like
        <where>
            <if test="fuId!=null and fuId!=''">
                and front_user_issue_like.fu_id = #{fuId,jdbcType=INTEGER}
            </if>
            <if test="iId!=null and iId!=''">
                and front_user_issue_like.i_id = #{iId,jdbcType=INTEGER}
            </if>
        </where>
    </select>
    <delete id="deleteByPrimaryKey">
        delete
        from front_user_issue_like
        where fu_id = #{fuId,jdbcType=INTEGER}
        and i_id = #{iId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" useGeneratedKeys = "true" keyProperty = "fuilId" parameterType="ZMetalHeartY.demo.Entity.FrontUserIssueLike">
        insert into front_user_issue_like (fuil_id, fu_id, i_id)
        values (#{fuilId,jdbcType=INTEGER}, #{fuId,jdbcType=INTEGER}, #{iId,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" useGeneratedKeys = "true" keyProperty = "fuilId" parameterType="ZMetalHeartY.demo.Entity.FrontUserIssueLike">
        insert into front_user_issue_like
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fuilId != null">
                fuil_id,
            </if>
            <if test="fuId != null">
                fu_id,
            </if>
            <if test="iId != null">
                i_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fuilId != null">
                #{fuilId,jdbcType=INTEGER},
            </if>
            <if test="fuId != null">
                #{fuId,jdbcType=INTEGER},
            </if>
            <if test="iId != null">
                #{iId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="ZMetalHeartY.demo.Entity.FrontUserIssueLike">
        update front_user_issue_like
        <set>
            <if test="fuId != null">
                fu_id = #{fuId,jdbcType=INTEGER},
            </if>
            <if test="iId != null">
                i_id = #{iId,jdbcType=INTEGER},
            </if>
        </set>
        where fuil_id = #{fuilId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="ZMetalHeartY.demo.Entity.FrontUserIssueLike">
        update front_user_issue_like
        set fu_id = #{fuId,jdbcType=INTEGER},
            i_id  = #{iId,jdbcType=INTEGER}
        where fuil_id = #{fuilId,jdbcType=INTEGER}
    </update>
</mapper>